@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.blurred {
		@apply blur-sm overflow-hidden;
	}
	.weather-icon {
		@apply w-10 h-10 object-contain;
	}
	.icon-large {
		@apply w-20 h-20;
	}
	.info-group {
		@apply flex flex-col items-center;
	}
	.label {
		@apply uppercase font-bold text-xs text-secondaryLight;
	}
	.value-sub-info {
		@apply font-light text-sm;
	}
	.day-card {
		@apply flex flex-col items-center border border-secondary rounded p-2 shadow-sm hover:shadow-lg hover:bg-primaryDarker transition duration-150 ease-in cursor-pointer;
	}
	.day-card-day {
		@apply text-sm text-secondaryLight mt-3;
	}
	.hour-row {
		@apply bg-primaryDark border-secondaryLight hover:border;
	}
	.hour-row:nth-child(2n) {
		@apply bg-primaryDarker;
	}
	.hour-row > td {
		@apply py-4 px-2;
	}
}
